*{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
html{
	height: 100%;
}

body{
	height: auto !important;  
	height: 100%;  
	min-height: 100%;  
	position: relative;
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
	background: #2b2b2b;
	background: -moz-linear-gradient(top,  #2b2b2b 0%, #494949 100%) fixed no-repeat;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2b2b2b), color-stop(100%,#494949)) fixed no-repeat;
	background: -webkit-linear-gradient(top,  #2b2b2b 0%,#494949 100%) fixed no-repeat;
	background: -o-linear-gradient(top,  #2b2b2b 0%,#494949 100%) fixed no-repeat;
	background: -ms-linear-gradient(top,  #2b2b2b 0%,#494949 100%) fixed no-repeat;
	background: linear-gradient(to bottom,  #2b2b2b 0%,#494949 100%) fixed no-repeat;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2b2b2b', endColorstr='#494949',GradientType=0 );
	
}

.wrapper{
	min-height: 100%;
    height: auto !important;
    height: 100%;
	padding-bottom: 100px;
	position: relative;
}

.wrap{
	width: 1000px;
	margin: 0 auto;
	position: relative;
}

.title{
	padding: 50px 0 0;
}

.clear{clear: both;}

h1{
	color: #fff;
	font-size: 56px;
	font-weight: bold;
	text-align: center;
	margin: 0 0 50px;
	text-transform: uppercase;
}

header{
	background: white;
	padding: 10px 0;
}

footer{
	background: #8c8c8c;
	position: absolute;
	bottom: 0;
	width: 100%;
}

footer p{
	display: block;
	width: 40%;
	color: white;
	font-size: 12px;
	float: left;
	margin: 0;
	padding: 15px 0;
}

.pluso{
	float: right;
	padding: 25px 0 !important;
}
.pluso-more {display: none !important;}



/*slider*/

.dg-container{
	width: 100%;
	position: relative;
	padding: 0 0 50px;
}
.dg-wrapper{
	width: 605px;
	text-align: center;
	height: 656px;
	margin: 0 auto;
	position: relative;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-perspective: 1000px;
	-moz-perspective: 1000px;
	-o-perspective: 1000px;
	-ms-perspective: 1000px;
	perspective: 1000px;
}
.dg-wrapper a{
	width: 605px;
	height: 656px;
	display: block;
	position: absolute;
	left: 0;
	top: 0;
}

.dg-wrapper .btn{
	display: none;
	vertical-align: middle;
	margin: 0;
}

.dg-wrapper a.dg-center {z-index: 9999;}
.dg-wrapper a.dg-center .btn {display: inline-block !important;}
.dg-wrapper a.dg-transition{
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
.dg-wrapper a img{
	display: block;
	margin: 0 auto;
}
.dg-wrapper a img + img {margin-top: 20px;}

.dg-container nav{
	display: block;
	width: 100%;
	text-align: center;
	position: relative;
	z-index: 1000;
	bottom: 0px;
}
.dg-container nav span{
	display: inline-block;
	vertical-align: middle;
	width:38px;
	height: 38px;
	opacity: .9;
	cursor: pointer;
	margin: 0 20px;
}
.dg-container nav span.dg-next{background: url('../img/next.png') no-repeat center center;}
.dg-container nav span.dg-prev{background: url('../img/prev.png') no-repeat center center;}


.dg-container nav .btn:hover{
	background: #ffad3a;
	background: -moz-linear-gradient(top,  #ffad3a 1%, #ff5d39 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#ffad3a), color-stop(100%,#ff5d39));
	background: -webkit-linear-gradient(top,  #ffad3a 1%,#ff5d39 100%);
	background: -o-linear-gradient(top,  #ffad3a 1%,#ff5d39 100%);
	background: -ms-linear-gradient(top,  #ffad3a 1%,#ff5d39 100%);
	background: linear-gradient(to bottom,  #ffad3a 1%,#ff5d39 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffad3a', endColorstr='#ff5d39',GradientType=0 );
}
.dg-container nav .btn:active,
.dg-container nav .btn:focus{
	background: #ff5d39;
	background: -moz-linear-gradient(top,  #ff5d39 0%, #ff9500 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff5d39), color-stop(100%,#ff9500));
	background: -webkit-linear-gradient(top,  #ff5d39 0%,#ff9500 100%);
	background: -o-linear-gradient(top,  #ff5d39 0%,#ff9500 100%);
	background: -ms-linear-gradient(top,  #ff5d39 0%,#ff9500 100%);
	background: linear-gradient(to bottom,  #ff5d39 0%,#ff9500 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff5d39', endColorstr='#ff9500',GradientType=0 );
}

.dg-container nav span:hover{
	opacity: 1;
}
